.App {
  overflow-y: hidden;
}
html {

    font-size: 12px;
    scroll-behavior: smooth;
    transition: 500ms ease-in-out;
}

@media screen and (max-width: 480px) {
  html{
    font-size: 9px;
  }
}

@media screen and (max-width: 390px) {
  html{
    font-size: 7px;
  }
}